/* 平滑过渡效果 */
* {
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* 隐藏滚动条 */
::-webkit-scrollbar {
  display: none;
}

/* 兼容Firefox */
html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
